<div class="row profile-page">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="location-cost-center-not-available" ng-show="!locationsCostCenterMappingController.hasLocationCode">
            <p> Cost centers will be available for add after the location has been created and saved. </p>
        </div>
        <div class="portlet light" block-ui="cost-center-mapping-grid">

            <button type="button" class="btn blue"
                    ng-disabled="!locationsCostCenterMappingController.hasLocationCode"
                    ng-click="locationsCostCenterMappingController.openAddCostCenterMapping()"> Add <i class="fa fa-plus"></i> </button>
            <div class="form-inline pull-right">
                <label class="caption-subject">Location Cost Center Status: </label>
                <div class="form-group" style="margin-left: 10px;">
                    <select load-select-picker class="search-resource-selector pull-right"
                            ng-model="locationsCostCenterMappingController.locationCostCenterStatus"
                            ng-change="locationsCostCenterMappingController.statusFilterChanged(locationsCostCenterMappingController.locationCostCenterStatus)"
                            ng-options="status.name for status in locationsCostCenterMappingController.locationCostCenterStatuses track by status.name">
                        <option style="display:none" value="">{{ locationsCostCenterMappingController.locationCostCenterStatus }}</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body">
                <div stg-ui-grid get-grid-options="locationsCostCenterMappingController.gridOptions"
                     get-grid-data="locationsCostCenterMappingController.getGridData"
                     class="grid ui-grid-height">
                </div>
            </div>
        </div>
    </div>
</div>