<div class="tab-pane active">
    <div class="col-md-7 col-sm-12 zero-left-padding div-system-category-defaults">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-full-width">
                    <span class="caption-subject font-blue uppercase bold"> SYSTEM CATEGORY DEFAULTS - MAP FROM </span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="tabbable tabs-right">
                    <ul class="nav nav-tabs">
                        <li ui-sref-active="active"
                            ng-class="{active:$state.includes('pointOfSale.systemCategoryDefaults.revenueCategories')}">
                            <a ui-sref="pointOfSale.systemCategoryDefaults.revenueCategories">Revenue Categories</a>
                        </li>
                        <li ui-sref-active="active"
                            ng-class="{active:$state.includes('pointOfSale.systemCategoryDefaults.itemCategories')}">
                            <a ui-sref="pointOfSale.systemCategoryDefaults.itemCategories">Item Categories</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div ui-view class="fade-in-up"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 zero-left-padding div-system-category-defaults">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue uppercase bold"> MAP TO </span>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="nav nav-tabs" ng-init="activeIndex = {index: 0}">
                    <li ng-repeat="systemCategory in pointOfSaleSystemCategoryDefaultsController.systemCategories"
                        ng-class="{active:(activeIndex.index ==$index)}">
                        <a href="#{{pointOfSaleSystemCategoryDefaultsController.currentSystemCategoryName}}"
                           ng-click="pointOfSaleSystemCategoryDefaultsController.switchTab(systemCategory.name);activeIndex.index = $index"
                           data-toggle="tab">{{systemCategory.name}}</a>
                    </li>
                </ul>
                <div class="tab-content active" ><!--id="{{pointOfSaleSystemCategoryDefaultsController.currentSystemCategoryName}}"-->
                    <div class="tab-pane active" role="tabpanel">
                        <div >
                            <!--This div is for Revenue Categories-->
                            <div class="row">
                                <div ng-repeat="vendor in pointOfSaleSystemCategoryDefaultsController.vendors track by $index">
                                    <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption caption-full-width">
                                                <span class="caption-subject font-blue uppercase"> {{vendor.name}} </span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div ng-repeat="type in vendor.types track by $index">
                                                <div class="col-md-12">
                                                    <div class="row col-md-12 margin-bottom-15" ng-if="pointOfSaleSystemCategoryDefaultsController.getItemTypeLabel(vendor, type)">
                                                        <label class="control-label col-md-3">{{type.name}}</label>
                                                        <div class="form-group">
                                                            <div class="col-md-9">
                                                                <ui-select
                                                                           ng-model="type.systemCategoryName"
                                                                           ng-disabled="pointOfSaleSystemCategoryDefaultsController.isSelectedCategory()"
                                                                           ng-change="pointOfSaleSystemCategoryDefaultsController.onCategoryChange(pointOfSaleSystemCategoryDefaultsController.selectedCategory)"
                                                                           theme="bootstrap"
                                                                           on-select="pointOfSaleSystemCategoryDefaultsController.onSelectedSystemCategory($item, $model)">
                                                                    <!--ng-model="pointOfSaleSystemCategoryDefaultsController.getSelectionModel(vendor,type)"
                                                                           ng-model="category.name"
                                                                    ng-model-options="{getterSetter: true}"-->
                                                                    <ui-select-match placeholder="{{pointOfSaleSystemCategoryDefaultsController.isSelectedCategory() ? '-- Select --' : ''}}">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices
                                                                            repeat="category in pointOfSaleSystemCategoryDefaultsController.systemCategoryChoices | filter: $select.search track by category.name"
                                                                            refresh="pointOfSaleSystemCategoryDefaultsController.getSystemCategoryChoices(vendor, type)"
                                                                            refresh-delay="0">
                                                                            <!--repeat="category in {{pointOfSaleSystemCategoryDefaultsController.getSystemCategoryChoices(vendor, type)}} | filter: $select.search track by category.name"-->
                                                                            <!--repeat="category in pointOfSaleSystemCategoryDefaultsController.categories | filter: $select.search track by category.name"-->
                                                                        <div ng-bind-html="category.name | highlight: $select.search"></div>
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>