<!-- ADD MESSAGE MODAL -->
<div class="modal-content" block-ui="showContactInfo-ui-grid">
    <div class="modal-header">
        <button type="button" class="close" ng-click="contactInfoModalController.close()"></button>
        <h4 class="modal-title">Vendor Contacts</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">

                <div stg-ui-grid get-grid-options="contactInfoModalController.gridOptions" get-grid-data="contactInfoModalController.getGridData" class="grid ui-grid-height">
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn blue" ng-click="contactInfoModalController.close()">Close</button>
    </div>
</div>
<!-- END ADD MESSAGE MODAL -->

