<!-- ADD MESSAGE MODAL -->
<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" ng-click="addEditRevenueCategoriesModalController.close()"></button>
        <h3 class="modal-title">{{addEditRevenueCategoriesModalController.action}} Revenue Categories</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-4">Revenue Category Name</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" ng-model="addEditRevenueCategoriesModalController.revenueCategoriesRowData.long_name">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-4">Type</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" ng-model="addEditRevenueCategoriesModalController.revenueCategoriesRowData.pos_id">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-4">Description</label>
                            <div class="col-lg-7">
                                <textarea rows="6" class="form-control" ng-model="addEditRevenueCategoriesModalController.revenueCategoriesRowData.item_class"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="addEditRevenueCategoriesModalController.close()">Cancel</button>
        <button type="button" class="btn blue" ng-click="addEditRevenueCategoriesModalController.save()">Save</button>
    </div>
</div>

<!-- END ADD MESSAGE MODAL -->