.btn-group.bootstrap-select.state-selector {
    width: 60px !important;
}

.address-verification-box {
    height: 50px;
    background-color: #ededed;
    width: 52%;
    align-items: center;
    display: inline-flex;
    /*justify-content: center;
    margin-right: 15px;*/
}

.map-marker-icon {
    font-size: 30px !important;
    padding-right: 15px;
    padding-bottom: 5px;
    /*color: #999999;*/
}

.address-verification-label {
    margin-bottom: 0 !important;
}

.status-verify-address-box {
    top: 15px;
    margin-bottom: 25px;
}

.verify-address-button {
    /*top: 5px;
    right: -30px;*/
    right: 20px;
    display: inline-flex;
    margin-left: -35px;
}

label.checkbox-inline{
    padding-left: 0 !important;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-left: 0 !important;
}

.location-operating-hours-modal .modal-dialog {
    width: 500px;
}

.show-location-operating-hours-modal .modal-dialog {
    width: 300px;
}

.form-horizontal .form-group {
    margin-left: 0;
}

.ui-grid-height > .grid .ui-grid-row, .grid .ui-grid-cell, .grid .ui-grid-cell .ui-grid-vertical-bar {
    height: 41px !important;
}

.hyperlink-cell {
    padding-top: 5px;
    padding-left: 10px;
}

.ui-grid-header-cell:last-child {
    position: relative;
    border-right: solid;
    border-width: 1px;
    border-color: #ccc;
}

.selected-cost-centers-header {
    height: 50px;
    display:table;
    font-weight:bold;
    line-height: 50px;
    padding-left: 15px;
    border-bottom: 1px solid lightgray !important;
    width: 100%;
}

.selected-cost-centers-header > div {
    display:table-cell;
}

.selected-cost-centers-content-wrapper {
    line-height: 35px;
    overflow: auto;
    height: 325px;
}

.selected-cost-center {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: darkgrey;
    padding-left: 15px;
}

.selected-cost-center.right>i {
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.cost-center-name {
    max-width: 210px;
    ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.add-cost-center-mapping-account-details-div {
    padding-right: 5px;
    padding-left: 1px;
}

.add-cost-center-mapping-cost-center-div {
    padding-left: 0px;
    padding-right: 0px;
}

.add-cost-center-mapping-move-arrow-div {
    padding-left: 15px;
    padding-top:180px;
    align-content: center;
    text-align: center;
}

.add-cost-center-mapping-selected-cost-center-div {
    padding-left: 0px;
    padding-right: 0px;
    height: 380px;
    border: 1px solid lightgray;
}

.add-available-cost-centers-grid .ui-grid-row:nth-child(odd) .ui-grid-cell {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    min-width: 385px;
    background-color: inherit;
}

.add-available-cost-centers-grid .ui-grid-row:nth-child(even) .ui-grid-cell {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    min-width: 385px;
    background-color: inherit;
}

.add-available-cost-centers-grid .ui-grid-cell-contents {
    cursor: pointer;
}

.add-stations-grid .ui-grid-row:nth-child(odd) .ui-grid-cell {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    min-width: 385px;
    background-color: inherit;
}

.add-stations-grid .ui-grid-row:nth-child(even) .ui-grid-cell {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    min-width: 385px;
    background-color: inherit;
}

.add-stations-grid .ui-grid-cell-contents {
    cursor: pointer;
}

.add-stations-grid .ui-grid-header {
    height: 40px;
}

.add-stations-grid .ui-grid-header-cell-wrapper {
    float: right;
    width: 98%;
}

.add-stations-grid .ui-grid-header-cell {
    border-right: none;
}

.add-stations-grid .ui-grid-cell-contents.ui-grid-header-cell-primary-focus {
    display: none;
}

.add-stations-grid .ui-grid-filter-container {
    padding: 0;
    border-top: none;
}

.add-stations-grid input[type=text].ui-grid-filter-input {
    height: 40px;
    border-bottom: 1px solid #d4d4d4;
    background-size: 16px;
}

.add-stations-grid .ui-grid-filter-container .ui-grid-filter-button [class^=ui-grid-icon]{
    font-size: 16px;
    height: 25px;
}

.add-available-cost-centers-grid .ui-grid-filter-container .ui-grid-filter-button [class^=ui-grid-icon]{
    font-size: 16px;
    height: 25px;
}

.add-stations-grid .ui-grid-filter-container .ui-grid-filter-button{
    right: -5px;
    border-bottom: 1px solid #d4d4d4;
}

.add-cost-center-grid .ui-grid-viewport {
    border-right: 1px solid #d4d4d4;
}
.location-code-not-available-wrapper{
    position: relative;
}

.location-code-not-available{
    width: 96%;
    height: 370px;
    background-color: #000000;
    opacity: .75;
    color: #ffffff;
    text-align: center;
    font-size: large;
    position: absolute;
    z-index: 10;
    transition: all linear 1s;
}

.location-code-not-available p {
    margin-top: 150px;
}

.location-cost-center-not-available{
    width: 98%;
    height: 430px;
    background-color: #000000;
    opacity: .75;
    color: #ffffff;
    text-align: center;
    font-size: large;
    position: absolute;
    z-index: 10;
    transition: all linear 1s;
}

.location-cost-center-not-available p {
    margin-top: 200px;
}

.location-stations-not-available{
    width: 98%;
    height: 430px;
    background-color: #000000;
    opacity: .75;
    color: #ffffff;
    text-align: center;
    font-size: large;
    position: absolute;
    z-index: 10;
    transition: all linear 1s;
}

.location-stations-not-available p {
    margin-top: 200px;
}

.map-not-available {
    width: 100px;
    height: 50px;
    /*background-color: #000000;*/
    background: #ababab;
    opacity: .75;
    color: #ffffff;
    text-align: center;
    font-size: large;
    position: absolute;
    z-index: 10;
    transition: all linear 1s;
    cursor: default;
}

.map-not-available .map *{
    opacity: 0;
    cursor: default;
}

.move-arrow {
    font-size: 28px !important;
    color: lightgrey;
}

.add-cost-center-grid > .ui-grid {
    height: 378px !important;
}

.status-bootstrap-select {
    width: 100% !important;
}

#map .gm-style > div:not(:first-child) {
    display: none;
}

.map-address-not-found {
    background: #ababab;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.map-pin {
    color: black;
    margin-top: 15px;
    cursor: default;
}

#map {
    width: 100px;
    height: 50px;
}

.bootstrap-select >.dropdown-toggle.bs-placeholder {
    color: black;
}

.zip-icon.input-icon.right>i {
    right: 10px;
}

.hide-map{
    display: none;
}

.active-switch-location-div{
    min-width: 139px;
    margin-left: 5px;
    right: 20px;
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

.select-address-div {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid lightgray;
}

.select-address-wrapper {
    line-height: 35px;
    overflow: auto;
}

.selected-address {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
    padding-left: 5px;
}

.selected-address.right>i {
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.select-address-span {
    max-width: 210px;
    ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.highlight-selected-address{
    background: #d1eaff;
    cursor: pointer;
}

.selected-address:last-child {
    border-bottom-style: none;
}

.select-address-modal-header {
    border-bottom: 1px solid lightgray !important;
}